$nav-bar-text: white;
$nav-bar-text-hover: red;

body {
  background-color: black;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: arial, sans-serif;
  line-height: normal;
  padding-right: 15px;
  padding-top: 15px;
}
.navbar-image{
  color: white;
}
a {
  color: $nav-bar-text;
  text-decoration: none;
  margin-left: 10px;
  &:hover {
    color: $nav-bar-text-hover;
  }
}
.google-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 10px;
  p {
    color: blue;
  }
}
h1{
  color: red;
  padding-left: 20px;
}
hr{
  opacity: 10%;
}
.query {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: auto;
  min-width: 476px;
}
.hints{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.advanced-search-fields{
  display: flex;
  flex-direction: row;
  align-items: baseline;  
  p{
    width: 250px;
  }
  input{
    width: 250px;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.advanced-search-button{
  background-color: #2a83dd;
  border: 1px solid #0a78e6;
  border-radius: 4px;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;  
}